<nav>
    <button type="button" (click)="getCars()">All Cars</button>
    <button type="button" (click)="getCarsByPrice()">Cars Sorted By Price</button>
</nav>
<table>
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Doors</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td>{{car.doors}}</td>
            <td>{{car.price}}</td>
        </tr>
    </tbody>
</table>
